@import "tailwindcss";

@theme {
  --color-surface: #f8fff9;
  --color-primary-container: #16a34a;
  --color-surface-bright: #f8fff9;
  --color-secondary-fixed-dim: #bbf7d0;
  --color-outline: #65a30d;
  --color-on-primary-fixed-variant: #166534;
  --color-on-tertiary-fixed-variant: #14532d;
  --color-tertiary-container: #22c55e;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface-variant: #475569;
  --color-on-secondary-fixed-variant: #14532d;
  --color-on-error: #ffffff;
  --color-primary-fixed-dim: #86efac;
  --color-on-secondary-container: #166534;
  --color-surface-container-high: #dcfce7;
  --color-on-primary: #ffffff;
  --color-on-secondary-fixed: #052e16;
  --color-on-error-container: #7f1d1d;
  --color-on-surface: #17201a;
  --color-secondary: #4d7c0f;
  --color-secondary-container: #dcfce7;
  --color-surface-container-highest: #bbf7d0;
  --color-primary-fixed: #dcfce7;
  --color-tertiary: #15803d;
  --color-error: #dc2626;
  --color-secondary-fixed: #ecfccb;
  --color-inverse-on-surface: #f0fdf4;
  --color-surface-container: #f0fdf4;
  --color-on-secondary: #ffffff;
  --color-on-background: #17201a;
  --color-inverse-primary: #86efac;
  --color-on-tertiary-fixed: #052e16;
  --color-outline-variant: #bbf7d0;
  --color-surface-dim: #dcfce7;
  --color-tertiary-fixed-dim: #4ade80;
  --color-surface-variant: #e2e8f0;
  --color-surface-container-low: #f7fee7;
  --color-background: #f8fff9;
  --color-tertiary-fixed: #bbf7d0;
  --color-on-primary-container: #dcfce7;
  --color-on-primary-fixed: #052e16;
  --color-primary: #15803d;
  --color-inverse-surface: #1f2937;
  --color-surface-tint: #22c55e;
  --color-on-tertiary-container: #dcfce7;
  --color-on-tertiary: #ffffff;
  --color-error-container: #fee2e2;

  --font-family-jakarta: 'Plus Jakarta Sans', sans-serif;
}

body {
  font-family: var(--font-family-jakarta);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined[data-weight="fill"] {
  font-variation-settings: 'FILL' 1;
}

/* Custom scrollbar for sidebar */
.sidebar-scroll::-webkit-scrollbar {
  width: 4px;
}
.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #e4e1ee;
  border-radius: 4px;
}
